body{
    background-color: bisque;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(84, 74, 146);
    padding: 50px;
    background-color: rgb(255, 222, 184);
}

h1{
    color:rgb(84, 74, 146);
    font-family:sans-serif;
    margin-left: 30px;
}

input{
    margin-bottom: 5px;
    background-color: rgb(242, 234, 251);
    border-radius: 5px;
    border-color: rgb(84, 74, 146);
    transition: 0.3s;
    color: rgb(84, 74, 146);
}

input:hover{
    background-color: rgb(222, 205, 241);
}
button{
    margin-top: 10px;
    font-size: 15px;
    width: 170px;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-color:  rgb(84, 74, 146) ;
    color:rgb(84, 74, 146);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(84, 74, 146);
    color: bisque;
}
button:active{
    background-color: rgb(62, 55, 106);
}

